/* Login */
.main-container {
  margin: 50px 50px 50px 50px;
  padding: 20px 50px 20px 50px;
  box-shadow: inset 1px 1px 2px 2px #b8b9be, inset -1px -0px 1px #ffffff;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  min-height: 72vh;
  direction: rtl;
}

.container-header {
  padding: 10px;
  direction: rtl;
}

/* Buttons */

.button-1 {
  margin: 2%;
  padding: 0.8% 3.5% 0.8% 3.5%;
  font-size: 15px;
  /* color: black; */
  font-weight: bold;
}

.shadow {
  box-shadow: inset 1px 1px 2px 2px #b8b9be, inset -1px -0px 1px #ffffff;
}

.options-input {
  display: flex;
  flex-direction: row;
}

.maktobviewcontainer {
  background-color: #e02121;
}

.header-part {
  display: flex;
  flex-direction: row;
}

@media print {
  .maktobviewcontainer {
    margin-top: 0px !important;
  }
  .print-button {
    display: none;
  }
  .pashto_header {
    width: 450px;
  }
  .logo_1 {
    height: 180px;
    width: 180px;
    margin-left: 10px !important;
  }
  .logo_2 {
    height: 180px;
    width: 180px;
    margin-right: 10px !important;
  }
  .persian_header-text {
    min-width: 303px !important;
    font-size: 30px !important;
    text-align: center !important;
  }

  .pashto_header-text {
    min-width: 303px !important;
    font-size: 30px !important;
    text-align: center !important;
  }
}
