/* Login */
.main-container {
  margin: 50px 50px 50px 50px;
  padding: 20px 50px 20px 50px;
  box-shadow: inset 1px 1px 2px 2px #b8b9be, inset -1px -0px 1px #ffffff;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  min-height: 72vh;
  direction: rtl;
}

.container-header {
  padding: 10px;
  direction: rtl;
}

/* Buttons */

.button-1 {
  margin: 2%;
  padding: 0.8% 3.5% 0.8% 3.5%;
  font-size: 15px;
  /* color: black; */
  font-weight: bold;
}

.shadow {
  box-shadow: inset 1px 1px 2px 2px #b8b9be, inset -1px -0px 1px #ffffff;
}

.options-input {
  display: flex;
  flex-direction: row;
}

.maktobviewcontainer {
  background-color: #ffffff;
  margin-inline: 3%;
  margin-top: 3%;
}

.header-body {
  display: flex;
  flex-direction: row;
}
.header_english {
  font-style: italic;
}

.date {
  display: flex;
  flex-direction: row;
  /* margin-left: 50px; */
  margin-right: 850px;
}

.owner {
  text-align: center;
  font-weight: bold;
}

/* Printing Part */
@media print {
  .maktobviewcontainer {
    margin-top: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .header-body {
    margin-top: 0px !important;
    margin-left: 0px !important;
  }
  .print-button {
    display: none;
  }
  .pashto_headling_div {
    min-width: 300px !important;
  }
  .pashto_headling_img {
    min-width: 250px !important;
    margin-right: 10px !important ;
  }
  .pashto_headline_text {
    min-width: 250px !important;
    font-size: 25px !important;
    margin-right: 15px !important ;
  }

  .english_headline_div {
    min-width: 300px;
    max-width: 300px;
    font-style: italic;
  }

  .persian_headline_div {
    min-width: 300px !important;
  }
  .persian_headline_img {
    min-width: 250px !important;
    margin-left: 10px !important ;
  }
  .persian_headline_text {
    min-width: 250px !important;
    font-size: 27px !important;
    margin-left: 10px !important ;
  }

  /* .owner {
    text-align: center;
    font-weight: bold;
    margin-top: -10px !important;
  }
  .date {
    margin-top: -20px !important;
    margin-left: -10px !important;
  } */
  /* /////////////////////////////////////// */
}
