/* Login */
.main-container {
  margin: 50px 50px 50px 50px;
  padding: 20px 50px 20px 50px;
  box-shadow: inset 1px 1px 2px 2px #b8b9be, inset -1px -0px 1px #ffffff;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  min-height: 72vh;
  direction: rtl;
}

.container-header {
  padding: 10px;
  direction: rtl;
}
@font-face {
  font-family: Arabictypesetting;
  /* src: url("../assets/font/arabtype.ttf"); */
  src: url("../assets/font/Arabic_typeSetting_regular.ttf");
}
@font-face {
  font-family: AMoshref;
  src: url("../assets/font/amoshref.ttf");
}
/* Buttons */
.button-1 {
  margin: 2%;
  padding: 0.8% 3.5% 0.8% 3.5%;
  font-size: 15px;
  /* color: black; */
  font-weight: bold;
}

.shadow {
  box-shadow: inset 1px 1px 2px 2px #b8b9be, inset -1px -0px 1px #ffffff;
}

.options-input {
  display: flex;
  flex-direction: row;
}

.main_container {
  background-color: #fff;
  margin: 3%;
  padding: 3%;
}

.header-body {
  display: flex;
  flex-direction: row;
}

.pashto_headling_div {
  display: flex;
  flex-direction: row;
  /* background-color: gray; */
  padding: 0;
}

.pashto_headline_text {
  font-size: 16.1px;
  font-weight: 900;
  padding-right: 3px;
}
.pashto-text-div-inner {
  margin-top: 15px;
  margin-right: 5px;
}

.persian_headline_div {
  display: flex;
  flex-direction: row;
  /* background-color: #b8b9be; */
  padding: 0px;
}

.persian_headline_text {
  text-align: right;
  font-size: 17px;
  font-weight: 900;
}

.persian-text-div-inner {
  margin-top: 15px;
  margin-left: 5px;
}

.pashto_heading_img {
  width: 100%;
}

.persian_headline_img {
  width: 100%;
}

.header_english {
  font-style: italic;
}

.date_type_no_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.maktob_type {
  display: flex;
  flex-direction: row;
  background-color: rgb(140, 0, 255);
  text-justify: left;
}

.maktob-type-check {
  padding: 0px;
}

.owner {
  text-align: center;
  font-weight: bold;
  background-color: chocolate;
}

.date {
  display: flex;
  flex-direction: row;
  background-color: brown;
  font-weight: bold;
  padding: 0;
}
.date_type_div {
  padding: 0px;
  padding-top: 10px;
}

.maktob_no {
  display: flex;
  flex-direction: row;
  padding: 0;
  font-weight: bold;
  background-color: orange;
}

.divider {
  font-weight: bolder;
  color: #000;
  margin-top: -20px !important;
  background-color: #000;
}
.body_of_maktob {
  margin: 0px;
  margin-right: 10px;
  font-size: 25px;
  height: 100%;
  margin-inline: 20px;
}
.subject_of_maktob {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1.4px !important;
}
.greating {
  font-family: AMoshref;
  font-size: larger;
  /* font-weight: bolder; */
}
.matktob_context {
  text-indent: 60px;
  text-align: justify;
}
.closing_signature {
  text-align: center;
  font-weight: bold;
  padding-bottom: 200px;
}

.pishnihad_date {
  display: flex;
  flex-direction: row;
  float: left;
  margin-top: -30px;
  margin-left: 23px;
  font-weight: bold;
}

.copy_to_div {
  margin-right: 20px;
}
.copy_body_item {
  width: 33%;
}
.copy_to_body {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  text-indent: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-content_pishnihad {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-content_maktob {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-item {
  margin-right: 10px;
  margin-left: 10px;
}

.print_btn_div {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.print-button {
  margin-inline: 2%;
}
.copy_body_item p {
  padding: 0px !important;
  margin: 0%;
  font-size: 18px !important;
}
.copy_to_title {
  font-weight: bold;
  font-size: 22px !important;
}
.audiance {
  font-weight: bold;
  font-size: 35px !important;
}

/* Pishniahaad code */
.pishnihad_body_main_div {
  display: flex;
  flex-direction: row;
  margin: 0px !important;
  min-height: 86vh;
}

.pishnihad_body {
  border: #000 solid 1px;
  width: 50%;
}
.ahkaam_div {
  border: #000 solid 1px;
  border-right: none;
  width: 50%;
}
.ahkaam_header {
  border-bottom: solid black 1px;
  text-align: center;
  font-weight: bolder;
}
.ahkaam_header_text {
  font-weight: bolder;
}

.header_of_pishnihad_text {
  font-weight: bolder;
}

.header_of_pishnihad {
  border-bottom: solid black 1px;
  text-align: center;
  font-weight: bolder;
  font-size: 200px;
}
.pishnihad_body_div {
  padding: 15 px 10px 15px 10px;
  font-size: 25px;
}

@media screen and (max-width: 1140px) {
}

/* Printing Part */

.errorMessageStyle {
  font-weight: bold;
  color: red;
}

.is-invalid {
  border-color: rgb(254, 34, 34) !important;
  border-width: 1px;
  /* Other styles for invalid input */
}

@media print {
  .sidebar {
    display: none !important;
  }
  .main_container {
    margin: 0px 15px 0px 0px !important;
    /* margin: 0px !important; */
    padding: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .english_headline_div {
    display: none;
  }
  .persian_headline_div {
    margin-right: 15px;
  }
  .pashto_headline_div {
    margin-left: 15px;
  }
  .owner {
    min-width: 200px;
  }
}
