#header {
  padding: 0.3%;
  margin: 15px 5px 5px 5px;
  position: sticky;
  top: 0;
  /* color: white; */
  z-index: 1;
  background: #222121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
   border-radius: 5px;
}

.header-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-inline: 15px;
}

.logo {
  margin-left: 1%;
  padding-top: 0%;
}

#footer {
  padding: 0.3%;
  margin: 15px 5px 0px 5px;
  position: sticky;
  top: 260px;
  z-index: 1;
  background: #222121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 20px;
  border-radius: 5px;
}
