#header {
  padding: 0.1%;
  margin: 0px 1px 5px 0px;
  position: sticky;
  top: 0;
  /* color: white; */
  z-index: 1;
  /* background: #222121; */
  background: #222121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  border-radius: 2px;
}

.header-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 15px;
}

.logo {
  margin-left: 1%;
  padding-top: 0.5%;
}

.container-1 {
  display: flex;
  min-height: 100vh;
}
main {
  width: 100%;
}

/* Side Bar */
.sidebar {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  background: #222121;
  color: #fff;
  /* height: fit-content; */
  width: 200px;
  height: 100vh;
  transition: all 0.5s;
  /* box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff; */
}

.top_section {
  display: flex;
  align-items: center;
  padding: 0px 10px 10px 10px;
  /* background-color: blueviolet; */
}

/* .top_section.scrolled { */
/* background-color: rgb(162, 162, 224); */
/* Other styles for the scrolled state */
/* } */

.sidebarlogo {
  font-size: 25px;
  margin-top: 10px;
  margin-right: 5px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  text-decoration: none;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
  text-decoration: none;
}
.active {
  background: lightskyblue;
  color: #000;
  text-decoration: none;
}
.icon,
.link_text {
  font-size: 16px;
  text-decoration: none;
}

/* Footer */
#footer {
  margin: 15px 1px 0px 1px;
  z-index: 1;
  background: #222121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 20px;
  border-radius: 2px;
}
.footer-item {
  justify-content: space-between;
}
.footer-text {
  font-size: 13px;
}
@media only screen and (max-width: 1100px) {
  #footer {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1300px) {
  #footer {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1500px) {
  #footer {
    font-size: 16px;
  }
}

.confirmation-modal {
  background-color: #f3f4f5;
  border-radius: 5px;
  width: 300px;
  height: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 35%;
  left: 35%;
  top: 30%;
  z-index: 9;
}

.button-container {
  margin-top: 10px;
}

.confirm-button {
  color: #fff;
  margin-inline: 20px;
  margin-top: 30px;
  border: none;
  border-radius: 3px;
  padding: 6px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.cancel-button {
  background-color: #d9534f;
  color: #fff;
  margin-inline: 20px;
  margin-top: 30px;
  border: none;
  border-radius: 3px;
  padding: 6px 20px;
  cursor: pointer;
}

.backDrop_div {
  width: 100%;
  height: 100%;
  background-color: #2e2e2e;
  position: fixed;
  opacity: 0.5;
  z-index: 10;
}

.confirmation-modal {
  opacity: 1;
  z-index: 15;
}
