* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container-1 {
  display: flex;
}
main {
  width: 100%;
}
/* Side Bar */
.sidebar {
  position: sticky;
  top: 0px;
  background: #222121;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  text-decoration: none;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
  text-decoration: none;
}
.active {
  background: lightskyblue;
  color: #000;
  text-decoration: none;
}
.icon,
.link_text {
  font-size: 20px;
  text-decoration: none;
}
